<h1>Available Courses</h1>

<hr>

<div class="search-container">

    <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search Course">

    <button (click)="searchCourses()">

        Search

    </button>

</div>

<p class="search-text">

Current Search :

<b>{{searchTerm || 'None'}}</b>

</p>

<hr>

<p *ngIf="isLoading">

Loading courses...

</p>

<div *ngIf="!isLoading">

<div class="cards">

<app-course-card

*ngFor="let course of courses;
trackBy:trackByCourseId"

[course]="course"

(cardClicked)="openCourse($event)">

</app-course-card>

</div>

</div>